:root{
  --backgroundHtml :rgb(35, 34, 34);
  --ecritureNav : #fff;
  --background  : #282626;
  --ecritureRouge : #c70101;
  --backgroundDiv : #696565;
  --backgroundBlack : black;
  }

 h2{
    font-family: 'Jolly Lodger', system-ui;
    width: 60%;
    padding: 5rem;
    font-size: 6rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: var(--ecritureRouge);

  }
.connexion{
  text-align: center;
  margin: 2rem auto;
 /* background-color: #7e7c7c; */
  border: solid 2px var(--ecritureRouge);
  ; 
  max-width: 45%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.50), 0 6px 20px 0 rgba(0,0,0,0.50);

}
  .connexion label{
    font-family: 'Jolly Lodger', system-ui;
    font-size: 4rem;
    color: var(--ecritureRouge);

  }
  .connexion input{
    box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.50), -3px 5px 10px 0 rgba(0,0,0,0.50);
    border: #c70101 solid 2px;
    /* border-radius: 10px; */
    background-color: #fff;
    font-family: 'Jolly Lodger', system-ui;
    border-radius: 10px;

      font-size: 2rem;
      padding: 7px;
      margin: 1.5rem auto;
      width: 60%;
      transition-duration: 0.4s;
  
  }
  
  .connexion input:hover{
    color: var(--ecritureRouge);
    background-color: var(--backgroundBlack);
    border: solid 2px var(--ecritureRouge);
  }
  
  .pswForget{
    
  }
  .button{
    font-family: 'Jolly Lodger', system-ui;
    font-size: 2.4rem;
    padding: 7px;
    border: black solid 2px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    transition-duration: 0.4s;
  }
  .button:hover{ 
    color: var(--ecritureRouge);
    background-color: var(--backgroundBlack);
    border: var(--ecritureRouge) solid 2px ;
    font-size: 4rem;
    width: 20%;
  }

  main p{
    font-family: 'Jolly Lodger', system-ui;
    font-size: 2.5rem;
    text-align: center;
    color: var(--ecritureRouge);

  }

  main p a{
    color: var(--backgroundBlack);
    font-weight: bolder;
    transition-duration: 0.4s;
    color: var(--ecritureRouge);

  }

  main p a:hover{
    color: var(--ecritureRouge);
    font-size: 4rem;
 
  }



  