main{
padding: 5rem;
}

.description{
padding: 3rem;
}
.description h2{
    font-size: 80px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jolly Lodger', system-ui;   
    color: #c70101;


    }
    .description h2 img{
        width: 28rem;
        height: 25rem;
        border-radius: 10px;
        border: solid 2px black;
        margin: 2rem;
    }

.description p{
 font-size: 39px;
 padding: 2rem;
 display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jolly Lodger', system-ui;   
    color: #c70101;

}
.description p img{
    width: 33rem;
    height: 23rem;
    border-radius: 10px;
    border: solid 2px black;
    margin: 2rem;
     
}

main h3{
    font-size: 48px;
    font-family: 'Jolly Lodger', system-ui;   
text-align: center;
color: #c70101;

}

.list-film{
 
   width: fit-content;
   height: fit-content;
   margin: 30px auto;
   display: grid;
   grid-template-columns: repeat(5, 25rem);
   justify-content: center;
   grid-gap: 20px;
   padding: 4rem;

}

.list-film figure{
    width: 25rem;
    height: 25rem;
}

.list-film figure img{
    width: 25rem;
    height: 25rem;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.50), -3px 5px 10px 0 rgba(0,0,0,0.50);

}