:root{
  --backgroundHtml :rgb(35, 34, 34);
  --ecritureNav : #fff;
  --background  : #282626;
  --ecritureRouge : #c70101;
  --backgroundDiv : #696565;
  --backgroundBlack : black;
  }

.banniereForm{
  display: flex;
  padding-top: 5rem;
  justify-content: center;
}

.banniere{
  width: 1100px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.50), 0 6px 20px 0 rgba(0,0,0,0.50);
}

h2{
    font-family: 'Jolly Lodger', system-ui;
    width: 60%;
    padding: 5rem;
    font-size: 6rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: var(--ecritureRouge);

  }
.inscription{
    text-align: center;
    margin: 2rem auto;
    border: solid 1px var(--ecritureRouge); 
    max-width: 45%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.50), 0 6px 20px 0 rgba(0,0,0,0.50);
}
  .inscription label{
    
    font-family: 'Jolly Lodger', system-ui;
    font-size: 2.5rem;
    color: var(--ecritureRouge);
  }
  .inscription input{
    box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.50), -3px 5px 10px 0 rgba(0,0,0,0.50);
    border: var(--backgroundBlack) solid 1px;
    /* border-radius: 10px; */
    background-color: #fff;
    border-radius: 10px;

    font-family: 'Jolly Lodger', system-ui;
      font-size: 2rem;
      padding: 7px;
      margin: 1.5rem auto;
      width: 60%;
      transition-duration: 0.4s;
  
  }
  
  .inscription input:hover{
    color: var(--ecritureRouge);
    background-color: var(--backgroundBlack);
    border: solid 2px var(--ecritureRouge);
  }
  
  .button{
    font-family: 'Jolly Lodger', system-ui;
    font-size: 2.4rem;
    width: 20%;
    padding: 5px;
    margin: 3rem auto;
    border: var(--backgroundBlack) solid 2px;
    cursor: pointer;
    background-color: var(--ecritureNav);
    border-radius: 10px;
    transition-duration: 0.4s;
  }

  .button:hover{ 
    color: var(--ecritureRouge);
    background-color: var(--backgroundBlack);
    border: var(--ecritureRouge) solid 2px ;
    font-size: 4rem;
    width: 25%;
  }



  