@import url('https://fonts.googleapis.com/css2?family=Honk&family=Jolly+Lodger&family=Oswald&display=swap');

  header {
    display: flex;
    padding: 10px;
    background-color: #282626;
    color: #fff;
    justify-content: space-between;
  }
  
  .logo {
    height: 50px;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    font-size: 2.6rem;
    font-family: 'Jolly Lodger', system-ui;   
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition-duration: 0.4s;

  }
  
  nav a:hover {
    color: #c70101;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation li{
  margin: 0 50px;
}


footer{
position: absolute;
text-align: center;
bottom: 0;
left: 0;
right: 0;
}

footer p{
font-family: 'Jolly Lodger', system-ui;
font-size: 2.4rem;
}


